include ../mixins/navbar
include ../mixins/portfolio_list
include ../mixins/blog_list
include ../mixins/footer
include ../mixins/scripts

doctype html
html
  head
    title Sanguinus Picti
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='/js/ie/html5shiv.js')
    link(rel='stylesheet', href='/css/main.css')
    //if lte IE 8
      link(rel='stylesheet', href='/css/ie8.css')

  body.homepage
    #page-wrapper
			
      // Header
      #header-wrapper
        #header
          // Logo
          h1
            a(href='/') Sanguinus Picti

          // Nav
          +navbar(current)

          block header
          
      // Main
      #main-wrapper
        .container
          block content

      // Footer
      +footer
  
    // Scripts
    +scripts