include ../mixins/navbar
include ../mixins/portfolio_list
include ../mixins/blog_list
include ../mixins/footer
include ../mixins/scripts

-
  function recentDate(date) {
    var now = new moment();
    var then = new moment(date);
    if (now.diff(date, 'minutes') < 10) {
      console.log('diff: '+now.diff(date, 'minutes'));
      return 'just now';
    }
    else if (now.diff(date, 'minutes') < 60) {
      console.log('diff: '+now.diff(date, 'minutes'));
      return now.diff(date, 'minutes') + 'min ago';
    }
    else if (now.diff(date, 'hours') < 24) {
      console.log('diff: '+now.diff(date, 'hours'));
      return now.diff(date, 'hours') + 'h ago';
    }
    else if (now.diff(date, 'days') < 7) {
      console.log('diff: '+now.diff(date, 'days'));
      return now.diff(date, 'days') + 'd ago';
    }
    return 'on ' + moment(date).format('YYYY/MM/DD'); 
  }

doctype html
html
  head
    title Sanguinus Picti
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='/js/ie/html5shiv.js')
    link(rel='stylesheet', href='/css/main.css')
    //if lte IE 8
      link(rel='stylesheet', href='/css/ie8.css')
      
    script(src='/js/jquery.min.js')

    link(rel='stylesheet', href='/unitegallery/css/unite-gallery.css', type='text/css')
    link(rel='stylesheet', href='/unitegallery/themes/default/ug-theme-default.css', type='text/css')

  body.homepage
    #page-wrapper
			
      // Header
      #header-wrapper
        #header
          // Logo
          h1
            a(href='/') Sanguinus Picti

          // Nav
          +navbar(current, menus)

          block header
          
      // Main
      #main-wrapper
        .container
          block content

      // Footer
      +footer
  
    // Scripts
    +scripts