extends base

block append content
  .row
    .div(class='4u 12u(mobile)')
      // Sidebar
      section.box
        a.image.featured(href='#')
          img(src='images/pic09.jpg', alt='')
        header
          h3 Sed etiam lorem nulla
        p
          | Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
        footer
          a.button.alt(href='#') Magna sed taciti
      section.box
        header
          h3 Feugiat consequat
        p
          | Veroeros sed amet blandit consequat veroeros lorem blandit adipiscing et feugiat sed lorem consequat feugiat lorem dolore.
        ul.divided
          li
            a(href='#') Sed et blandit consequat sed
          li
            a(href='#') Hendrerit tortor vitae sapien dolore
          li
            a(href='#') Sapien id suscipit magna sed felis
          li
            a(href='#') Aptent taciti sociosqu ad litora
        footer
          a.button.alt(href='#') Ipsum consequat
    .div(class='8u 12u(mobile) important(mobile)')
      // Content
      block dynamic_content
        
