extends base

include ../mixins/sidebar

block append content
  .row
    .div(class='4u 12u(mobile)')
      // Sidebar
      +sidebar(menus)

    .div(class='8u 12u(mobile) important(mobile)')
      // Content
      block page_content
