extends base

include ../mixins/sidebar

block append content
  .row
    .div(class='8u 12u(mobile) important(mobile)')
      // Content
      block page_content

    // Sidebar
    .div(class='4u 12u(mobile)')
      +sidebar(menus)