mixin blog_list

    // Blog
    section
        header.major
            h2 The Blog
        .row
            .div(class='6u 12u(mobile)')
                section.box
                    a.image.featured(href='#')
                        img(src='images/pic08.jpg', alt='')
                    header
                        h3 Magna tempus consequat lorem
                        p Posted 45 minutes ago
                    p
                        | Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit  adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.
                    footer
                        ul.actions
                            li
                                a.button.icon.fa-file-text(href='#') Continue Reading
                            li
                                a.button.alt.icon.fa-comment(href='#') 33 comments
            .div(class='6u 12u(mobile)')
                section.box
                    a.image.featured(href='#')
                        img(src='images/pic09.jpg', alt='')
                    header
                        h3 Aptent veroeros et aliquam
                        p Posted 45 minutes ago
                    p
                        | Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit  adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.
                    footer
                        ul.actions
                            li
                                a.button.icon.fa-file-text(href='#') Continue Reading
                            li
                                a.button.alt.icon.fa-comment(href='#') 33 comments
