mixin intro

    section#intro.container
        .row
            .div(class='4u 12u(mobile)')
                section
                    i.icon.featured.fa-cog
                    header
                        h2 Todo
                    p Build edit page
                    p Incorporate login
                    p Footers
            .div(class='4u 12u(mobile)')
                section
                    i.icon.featured.alt.fa-flash
                    header
                        h2 Static stuff
                    p Write About Us
                    p Contact form
            .div(class='4u 12u(mobile)')
                section
                    i.icon.featured.alt2.fa-star
                    header
                        h2 Tempus adipiscing
                    p
                        | Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.
        footer
            ul.actions
                li
                    a.button.big(href='#') Get Started
                li
                    a.button.alt.big(href='#') Learn More
