mixin navbar(active)

    // Nav
    nav#nav
        ul
            if (active == 'home') 
                li.current
                    a(href='/') Home
            else
                li
                    a(href='/') Home
            //- li
            //-     a(href='#') Dropdown
            //-     ul
            //-         li
            //-             a(href='#') Lorem ipsum dolor
            //-         li
            //-             a(href='#') Magna phasellus
            //-         li
            //-             a(href='#') Etiam dolore nisl
            //-         li
            //-             a(href='#') Phasellus consequat
            //-             ul
            //-                 li
            //-                     a(href='#') Magna phasellus
            //-                 li
            //-                     a(href='#') Etiam dolore nisl
            //-                 li
            //-                     a(href='#') Veroeros feugiat
            //-                 li
            //-                     a(href='#') Nisl sed aliquam
            //-                 li
            //-                     a(href='#') Dolore adipiscing
            //-         li
            //-             a(href='#') Veroeros feugiat
            
            if active == 'work'
                li.current
                    a(href='/work') Our Work
            else
                li
                    a(href='/work') Our Work

            if active == 'tattoos'
                li.current
                    a(href='/tattoos') Tattoos
            else
                li
                    a(href='/tattoos') Tattoos
            
            if active == 'about'
                li.current
                    a(href='/about') About Us
            else
                li
                    a(href='/about') About Us
            //- li
            //-     a(href='no-sidebar.html') No Sidebar
    