mixin portfolio_list

    // Portfolio
    section
        header.major
            h2 My Portfolio
        .row
            .div(class='4u 12u(mobile)')
                section.box
                    a.image.featured(href='#')
                        img(src='images/pic02.jpg', alt='')
                    header
                        h3 Ipsum feugiat et dolor
                    p
                        | Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
                    footer
                        a.button.alt(href='#') Find out more
            .div(class='4u 12u(mobile)')
                section.box
                    a.image.featured(href='#')
                        img(src='images/pic03.jpg', alt='')
                    header
                        h3 Sed etiam lorem nulla
                    p
                        | Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
                    footer
                        a.button.alt(href='#') Find out more
            .div(class='4u 12u(mobile)')
                section.box
                    a.image.featured(href='#')
                        img(src='images/pic04.jpg', alt='')
                    header
                        h3 Consequat et tempus
                    p
                        | Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
                    footer
                        a.button.alt(href='#') Find out more
        .row
            .div(class='4u 12u(mobile)')
                section.box
                    a.image.featured(href='#')
                        img(src='images/pic05.jpg', alt='')
                    header
                        h3 Blandit sed adipiscing
                    p
                        | Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
                    footer
                        a.button.alt(href='#') Find out more
            .div(class='4u 12u(mobile)')
                section.box
                    a.image.featured(href='#')
                        img(src='images/pic06.jpg', alt='')
                    header
                        h3 Etiam nisl consequat
                    p
                        | Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
                    footer
                        a.button.alt(href='#') Find out more
            .div(class='4u 12u(mobile)')
                section.box
                    a.image.featured(href='#')
                        img(src='images/pic07.jpg', alt='')
                    header
                        h3 Dolore nisl feugiat
                    p
                        | Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
                    footer
                        a.button.alt(href='#') Find out more
