mixin scripts

    // Scripts
    script(src='/js/jquery.dropotron.min.js')
    script(src='/js/skel.min.js')
    script(src='/js/skel-viewport.min.js')
    script(src='//platform-api.sharethis.com/js/sharethis.js#property=5aeb78a796e6fc00110b2f23&product=inline-share-buttons')
    //if lte IE 8
        script(src='/js/ie/respond.min.js')
    script(src='/js/all.min.js')

    script(src='/unitegallery/js/unitegallery.min.js')

    block scripts
    =scripts