mixin sidebar

    // Sidebar
    section.box
        header
            h3 Tattoos
        
            unless !menus.featuredTats
                ul.divided
                    for tattoo in menus.featuredTats
                        li
                            a(href=`/tattoos/${tattoo.url}`)
                                img(class='12u', src=tattoo.images.header)

    section.box
        header
            h3 Blog

            unless !menus.featuredBlogs 
                ul.divided
                    for blog in menus.featuredBlogs
                        li
                            a(href=`./blog/${blog.url}`)
                                = blog.title

        footer
            p
                a.button.alt(href='./blogs') See All
            p
                a.button.alt(href='#') Contact Us
